<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068010088720-co189s1ccu08dbmblfbhva4mgfatfhan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068010088720-co189s1ccu08dbmblfbhva4mgfatfhan</string>
	<key>API_KEY</key>
	<string>AIzaSyACRg5BkicuNKJOTjrWWnosNKWOIbF2d5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1068010088720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daxpatel.OnePass</string>
	<key>PROJECT_ID</key>
	<string>onboarding-challenge-fc71b</string>
	<key>STORAGE_BUCKET</key>
	<string>onboarding-challenge-fc71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068010088720:ios:786528228dd27b77729d95</string>
</dict>
</plist>